<!doctype html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <!--<title> 원하는 data 결과 입니다 </title>-->
        <title> Welcome to v-choice! </title>
        <h1>  Youtube Trending 영상을 통해 코로나 전후의 변화를 찾아보세요! </h1>
        <style type="text/css">
            body{ text-align: center; }
        </style>
    </head>
    <body>
        <div>
            <a href="/vid-cnt" onclick="alert('카테고리별 영상 수를 확인 할 수 있습니다')">Trending Video 갯수 변화</a>
        </div>
        <div>
            <a href="/comp-mean-views" onclick="alert('카테고리별 평균 조회수를 확인 할 수 있습니다')">Video 조회 수 변화</a>
        </div>
        <div>
            <a href="/ratio-ch-vid" onclick="alert('각 카테고리의 영상 비중 및 인기순위을 조회할 수 있습니다')">Trending Video 카테고리 비율 변화</a>
        </div>
        <div>
            <a href="/multi-analysis" onclick="alert('코로나 데이터와 Youtube Trending 데이터를 \n자유롭게 선택하여 비교할 수 있습니다')">Corona & Youtube Trending 다각도 비교</a>
        </div>
        <div>
            <a href="/corona-related-multi-analysis" onclick="alert('유튜브 제목과 태그에서 코로나 관련 단어를 추출하여\n연관된 비교분석이 가능합니다')">코로나 연관 단어가 들어간 유튜브 영상과의 비교 </a>
        </div>
        <div>
            <a href="/board" onclick="alert('통계분석 이후 자신만의 아이디어를 공유해보세요')"> 토론 게시판으로 이동!</a>
        </div>
    </body>
</html>
